<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Side Navigation Bar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/assets/sidebar.css">
  <script src="/assets/sidebar.js" defer></script>
</head>

<body>
  <div class="sidebar">
    <div id="profile-image-container">
      <img id="profile-image" src="/assets/images/terminal-icon.png" alt="">
      <h3 id="profile-name"><a target="_blank" href="https://www.linkedin.com/in/leland-tan/">@loland</a></h3>
      <p id="profile-description">Malware Analysis,<br>Reverse Engineering,<br>and all things Cybersecurity.</p>
    </div>
    <!-- <ul class="nav-links">
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="link_name">About</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class='bx bx-grid-alt'></i>
          <span class="link_name">Others</span>
        </a>
      </li>
    </ul> -->
  </div>
</body>

</html>