.post-content {
    word-break: break-all
}

.post-content.nowrap {
    white-space: nowrap;
}

.post-content.pre-wrap {
    white-space: pre-wrap;
}

a {
    color: rgb(175, 116, 162)
}

a:visited {
    color:rgb(163, 135, 179);
}